*{
  margin: 0;
}
::-webkit-scrollbar {
  width: 0; 
  /* background: transparent;  */
}

.loading{
  position:fixed;
  z-index:4;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(50deg,   #12161f, #26334e);
}

/* .btnSocial{
  background-image: linear-gradient(to left, #000000, #000000, #000000,#000000,#000000,#000000,#ff00d4, #7407f1, #196ad4) !important;
  background-image:linear-gradient(to left, #000000, #000000, #000000);
  background-size: 200%;
  background-position: left;
  transition: 0.4s !important;
}

.btnSocial:hover{
  background-position: right;
  background-image: linear-gradient(to left, #000000, #000000, #000000,#000000,#000000,#000000,#ff00d4, #7407f1, #196ad4) !important;
} */

.navBar{
  position:fixed;
  z-index: 3;
  margin-top: 0px;
  max-width: 1250px;
}

.App_Content{
  padding-top: 75px;
}

*:focus{
  box-shadow: none !important;
}

.upDownNav{
  padding: 10px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.upDownBtn:active{
  color: black !important;
}

.navBarItem{
  background-image: linear-gradient(50deg, transparent 50%, transparent 0%,  #7407f1 50%, #196ad4 100%);
  background-size: 250%;
  transition: 0.4s;
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  transition: 0.3s;
}

#navBarItemActive::after{
  /* background-image: linear-gradient(50deg, transparent 50%, transparent 0%,  #7407f1 50%, #196ad4 50%); */
  background-image: linear-gradient(to right, #7407f1, #196ad4) !important;
  background-size: 100%;
  content: '';
  display: block;
  width: 120%;
  height: 3px;
  /* background: white; */
  /* background-color: #EFE2BA */
}

.navBarItem:hover{
  background-position: 100%;
  color: white;
}

.portfolioCard{
  box-shadow: none;
  border-radius: 4px;
  /* border: 1px solid rgba(255, 255, 255, 0.432); */
  background: rgba(0, 0, 0, 0.096);
  transition: 0.3s;
}

.portfolioCard:hover{
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  transform: scale(1.01);
}

.tiltCard{
  padding: 0 !important;
  box-shadow: none !important;
  background: none !important;
  width: auto !important;
  margin: 0 !important;
}

.tiltCard:hover{
  box-shadow: none;
}

.downloadCVBtn{
  /* background-image: "linear(to-r, #ff00d4, #7407f1, #196ad4)"; */
  background-image: linear-gradient(to right, #ff00d4, #7407f1, #196ad4) !important;
  background-size: 200% !important;
  transition: 0.4s !important;
}

.downloadCVBtn:hover{
  background-position: right !important;
}


/*  Scroll Indicator  */
.header {
  position: fixed;
  top: 73px;
  z-index: 3;
  max-width: 1250px;
  width: 100%;
}

.progress-container {
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0);
}

.progress-bar {
  height: 4px;
  background-image: linear-gradient(to right, #00e1ff, #00a2ff) !important;
  /* background: rgb(201, 201, 201) !important; */
  width: 0%;
}

/* BG Box */
#home{
  mask-image: red;
}